@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400&display=swap');

/* font-family: 'Roboto', sans-serif; */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: 'Roboto', sans-serif;
}

.contenedor_imagen_portada{
  background-color: #DD6B20;
  width: 90%;
  height: 12.5rem;
  margin: 0rem auto;
  position: relative;
  border-radius: 0rem 0rem .625rem .625rem;
  overflow: hidden;
}

.foto1{
  width: 100%;
}
.contenedor_header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.contenedor_img_perfil{
  border: 1px solid rgba(128, 128, 128, 0.299);
  padding: 1.25rem;
  border-radius: 6.25rem;
  width: 9.375rem;
  height: 9.375rem;
  position: relative;
  top: -1.25rem;
  background-color: white;
}

.foto{
  width: 5.625rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.contenedor_texto h1{
  text-align: center;
}

.contenedor_subtitulo{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: .3125rem;
  margin: .625rem 0rem;
}

.contenedor_subtitulo h2{
  font-size: 1.25rem;
}

.contenedor_ubicacion{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: .3125rem;
  margin: .625rem;
}

.contenedor_redessociales{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.whatsapp{
  text-decoration: none;
  color: black;
  cursor: pointer;
}


/*.  -------------- Comienza Main --------------*/

.titulo_destacado{
  margin: 1.25rem;
  font-size: 1.875rem;
  background-color: #DD6B20;
  display: inline;
  color: white;
  padding: 10px;
  border-radius: 10px;
}


.contenedor_destacados{
  width: 90%;
  overflow-x: scroll;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: baseline;
  gap: 1.25rem;
  margin: 1.25rem 0rem 6.25rem 0.625rem;
}

.destacado{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: .625rem;
  margin-top: .3125rem;
}


.foto-destacado{
  width: 15.625rem;
  box-shadow: 0rem 0rem .5rem rgba(128, 128, 128, 0.368);
}

.contenedor_descripcion_destacado{
  display: flex;
  flex-direction: column;
  gap: .625rem;
}

.contenedor_marcas h3{
  text-align: center;
  font-size: 1.5625rem;
}

.contenedor_etiqueta{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  margin-bottom: 2.5rem;
}


.botella{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: .625rem;
}


.foto-botella{
  width: 15.625rem;
  box-shadow: 0rem 0rem .5rem rgba(128, 128, 128, 0.368);
  border-radius: .625rem;
}

.contenedor_descripcion_botella{
  display: flex;
  flex-direction: column;
  gap: .625rem;
  margin: 0rem 2.5rem;
}

.boton_compra_botella{
  padding: .75rem .875rem;
  border-radius: .5rem;
  border: .0625rem solid white;
  background-color: #DD6B20;
  color: white;
  font-weight: bold;
  font-size: 1rem;
}

.boton_compra_botella a{
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.precio{
  color: green;
}

.descripcion_botella{
  color: grey;
}

.contenedor_titulo_logo{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
  margin-bottom: 1.875rem;
  box-shadow: 0rem 0rem .625rem #dd6c20ae;
  padding: .3125rem 0rem;
}

.contenedor_titulo_logo img{
  width: 7.5rem;
}


@media screen and (min-width: 48rem) {
  .contenedor_header{
    flex-direction: row;
    justify-content: space-around;
  }
}